body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.chat_container {
    margin: 45px 0 25px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 90px 10px 10px 10px;
    height: 70vh;
    overflow-y: auto;
}

.explanation {
    color: rgb(95, 252, 160);
    font-weight: 300;
    margin: 0px;
    background-color: rgba(218, 218, 218, 0.13);
    border-radius: 234px;
    margin: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.chat_input {
    padding: 8px 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 70%;
    height: 100%;
}

.chat_button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 8px;
}

.chat_button:hover {
    background-color: #0056b3;
}

.api_message {
    text-align: left;
    background-color: #ffecac;
    width: 40%;
    border-radius: 20px;
    animation: fadeInUp 0.8s ease-out forwards;
    margin-left: 12%;
}

.user_message {
    text-align: left;
    background-color: #d6ecf5;
    width: 40%;
    border-radius: 20px;
    animation: fadeInUp 0.8s ease-out forwards;
    margin-left: auto;
    margin-right: 12%;
}

.loading {
    color: #0000004d;
    font-weight: 200;
    padding-top: 30px;
}

.tone_select {
    font-size: large;
    margin-left: 10px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

