html,
body {
    margin: 0;
    padding: 0;
}

.journaling_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    animation: fadeInUp 0.8s ease-out forwards;
    position: relative;
    overflow: hidden;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280%;
    padding: 20px;
}

.journaling_title,
.journaling_text {
    width: 530px;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    border: none;
    padding: 10px  20px;
    letter-spacing: 0.1em;
}

.journaling_title {
    height: 40px;
    margin: 40px 0 0 0;
}

.journaling_text {
    height: 500px;
    resize: none;
    padding-top: 10px;
    line-height: 1.5;
    font-weight: bold;
    margin: 40px 0 30px 0;
}

.journaling_title::placeholder {
    text-align: center;
    letter-spacing: 5px;
}

.journaling_text::placeholder {
    text-align: center;
    padding: 50px;
    letter-spacing: 3px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.save_button,
.analysis_button {
    padding: 10px 20px;
    margin: 20px;
    opacity: 0.5;
}

.save_button:hover,
.analysis_button:hover {
    background-color: #aff3be;
    opacity: 1;
}

.history {
    position: fixed;
    bottom: 50px;
    right: 10%;
    width: 200px;
    text-align: right;
}

.select_background {
    position: fixed;
    bottom: 52px;
    right: 25%;
    text-align: right;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUpAnimation {
    animation: fadeInUp 0.5s ease-out forwards;
}
